[user]
  name = Yusuke Nozoe
  email = yusuke.nozoe@gmail.com
[core]
  excludesfile = ~/.gitignore  # globalな.gitignoreの指定
[alias]
  st = status
  ad  = add
  cm  = commit -m
  co  = checkout
  br = branch
  cmb = "!f () { git commit -m \"[$(git branch -a | grep '^*' | cut -b 3-)] $1\" $2;}; f"
[push]
	default = current
[merge]
	tool = diffmerge
