[user]
  name = Yusuke Nozoe
  email = yusuke.nozoe@gmail.com
[core]
  excludesfile = ~/.gitignore  # globalな.gitignoreの指定
[alias]
  st = status
  ad  = add
  cm  = commit
  co  = checkout
  br = branch
